doctype
html
    head
        title MA Coding Club
        link(rel="stylesheet" href="/lib/site.css")
    body(ng-app="app")
        h1 Hello from Layout
        block main-content
        include scripts