.container
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading.text-center New Courses
                .panel-body(ng-include="'/partials/main/new-courses.jade'")
        .col-md-6
            .panel.panel-default
                .panel-heading.text-center Old Courses
                .panel-body(ng-include="'/partials/main/old-courses.jade'")